<template  name="register">
        <!-- Top content -->
        
        <div class="top-content">
          
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1>G-Chat App</h1>
                            <div class="description">
                              <p>
                               Discover, learn & share what you love :)
                              </p>
                            </div>
                            <div class="top-big-link">
                               <a class="btn btn-link-1" href="{{pathFor route='register'}}">SignUp</a>
                              <a class="btn btn-link-2" href="{{pathFor route='signin'}}">SignIn</a>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                          <div class="form-top">
                            <div class="form-top-left">
                              <h3>Sign up now</h3>
                                <p>Fill in the form below to get instant access:</p>
                            </div>
                            <div class="form-top-right">
                              <i class="fa fa-pencil"></i>
                            </div>
                            </div>
                            <div class="form-bottom">
                          <form role="form">
                            <div class="form-group">
                              <label class="sr-only">Username</label>
                                <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username" required>
                              </div>
                               <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="email" name="email" placeholder="Email..." class="form-email form-control" id="form-email" required>
                              </div>
                              <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="password" name="password" placeholder="Enter Password" class=" form-control" minlength="6" id="form-password" required>
                              </div>
                              <div class="form-group">
                                <label class="sr-only">Confirm Password</label>
                                <input type="password" name="confirm-password" placeholder="Confirm Password" class=" form-control" minlength="6" id="form-confirm-password" required>
                              </div>
                              <button type="submit" class="btn">Sign me up!</button>
                          </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>