<template name="footer">
    <!-- Footer -->
    <footer class="text-center">        
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

