<template name="verifyEmail">
	<h1> Email is verified</h1>
    <a href="{{pathFor route='signin'}}"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>Login Your Account</a>
</template>