<template name="welcome">
  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 text">
         	<ul class="nav navbar-default nav-pills nav-stacked">
    		 	  <li role="presentation"><a href="{{pathFor route='home'}}"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>Home</a></li>
    			  <li role="presentation"><a href="/profile/{{userId}}"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>Profile</a></li>
    			  <li role="presentation"><a href="{{pathFor route='message'}}"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span>Messages</a></li>
            <li role="presentation" id="log-out"><a href="#" class="button"><span class="pull-right hidden-xs showopacity glyphicon glyphicon glyphicon-log-out"></span>Logout</a></li>
       		</ul>
          </div>
          <div class="col-sm-9 form-box">
            <h1>Welcome User</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>