<template name="basicLayout">
    <div id="main">
        <header>
            {{#if currentUser}}
              {{> header}}
            {{/if}}            
        </header>

            {{> yield}}
           <!--  {{! Also a sidebar! }} -->
        <footer>
            {{> footer}}
        </footer>
    </div>
</template>
