<template name="signin">
  <!-- Top content -->
  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text">
            <h1>G-Chat App</h1>
            <div class="description">
              <p>
                Discover, learn & share what you love :)
              </p>
            </div>
            <div class="top-big-link">
              <a class="btn btn-link-2" href="{{pathFor route='register'}}">SignUp</a>
              <a class="btn btn-link-1" href="{{pathFor route='signin'}}">SignIn</a>
            </div>
          </div>
          <div class="col-sm-5 form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>SignIn Now</h3>
                <p>Fill in the form below to get instant access:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="form-bottom">
              <form role="form">
                <div class="form-group">
                  <label class="sr-only">Email</label>
                  <input type="email" name="form-email" placeholder="Enter Email..." class="form-email form-control" id="form-email" required>
                </div>
                <div class="form-group">
                  <label class="sr-only">Password</label>
                  <input type="password" name="form-password" placeholder="Enter Password" class="form-last-name form-control" id="form-password" minlength="6" required>
                </div>
                <button type="submit" class="btn">Sign me</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
