<template name="profile">
  <h1>Profile Page</h1>
  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text">
          	<a href="{{pathFor route='welcome'}}"> Go to Home Page<span style="color:#fff;"></span></a>
            <h1>Profile Page</h1>
          </div>
          <div class="col-sm-5 form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Update Profile Info</h3>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="form-bottom">
              <form role="form">
                <div class="form-group">
                  <label class="sr-only">Email</label>
                  <input type="email" name="form-email" placeholder="Enter Email..." class="form-first-name form-control" id="form-email" required>
                </div>
                
                <div class="form-group">
                  <label class="sr-only">Username</label>
                  <input type="text" name="form-username" placeholder="Enter Username" class="form-last-name form-control" id="form-username" required>
                </div>

                 <div class="form-group">
                  <label class="sr-only">Chat display name</label>
                  <input type="text" name="form-displayName" placeholder="Enter display name" class="form-last-name form-control" id="form-displayName">
                </div>
                
                <div class="form-group">
                  <label class="sr-only">Date of Birth</label>
                  <input type="date" name="form-dob" placeholder="Date of Birth" class="form-last-name form-control" id="form-dob">
                </div>

                <button type="submit" class="btn">Update Profile</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
